# portfolio-frontend の除外リスト
portfolio-frontend/build/
portfolio-frontend/node_modules/
portfolio-frontend/public/

# portfolio-backend の除外リスト
portfolio-backend/node_modules/
portfolio-backend/files/

# その他
.DS_Store
*.log
*.env
